/* Panels */

.backgroundPane {
    -fx-border-radius: 5;
    -fx-background-color: #fff;
    -fx-background-radius: 20;
    }

.contentPane {
    -fx-background-color: #7ea656;
    -fx-background-radius: 20;
    -fx-border: 2px solid;
    -fx-border-color: #1c6d11;
    -fx-border-radius: 20;
}

.modulePane {
	-fx-background-color: #fff;
   	-fx-background-radius: 20;
   	-fx-border: 2px solid;
    	-fx-border-color: #1c6d11;
    	-fx-border-radius: 20;
}
	



/* Buttons */

.actionButton {
	-fx-background-color: #1c6d11;
    	-fx-background-radius: 20;
    	-fx-border: 2px solid;
    	-fx-border-color: #1c6d11;
    	-fx-border-radius: 20;
}

.spinnerAdjuster {	
	-fx-background-color: #7ea656;
    	-fx-background-radius: 5;
    	-fx-border: 2px solid;
    	-fx-border-color: #7ea656;
    	-fx-border-radius: 20;
}




/* Text */

.headline1 {
	-fx-font-size: 36;
    	-fx-font-weight: bold;
}


.headline2 {
	-fx-font-size: 18;
    	-fx-font-weight: bold;
}


.standardText {
	-fx-font-size: 14;
    	-fx-font-weight: normal;
}

.boldStandardText {
	-fx-font-size: 14;
    	-fx-font-weight: bold;
}


.smallPrintText {
	-fx-font-size: 10;
}



