/* @font-face {
    font-family: Opensans;
    src: url(fonts/OpenSans.ttf)
}

@font-face {
    font-family: Novecentosans;
    src: url(fonts/Novecentosans.otf);
}

@font-face {
    font-family: SegoePrint;
    src: url(fonts/SegoePrint.ttf);
}
*/


/* Panes */

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans.ttf');
}

.opensans, .button, .bigbutton, .label{
    -fx-font-family: 'Open Sans';
}

.mainpane {
    -fx-background-color: #F2E4DC;
    
}


.subpane {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: #7EA656;
    -fx-border-color: #BFAE99;
    -fx-effect: innershadow( gaussian, rgba(0, 0, 0, 0.7), 7.5, 0, 0, 0);
    /* -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 3, 3); */
}

.simpleSubpane {
    -fx-background-color: #7EA656;
}



.lightpane {
    -fx-background-color: #E3F2AC;
    -fx-effect: innershadow( gaussian, rgba(0, 0, 0, 0.7), 7.5, 0, 0, 0);
}


.scroll-pane {
    -fx-background-color: #7EA656;
}




/* Borders */

.notopborder {
    -fx-border-radius: 0 0 5 5;
    -fx-background-radius: 0 0 5 5;
}

.nobottomborder {
    -fx-border-radius: 5 5 0 0;
    -fx-background-radius: 5 5 0 0;
}



/* Buttons */


.button {
    -fx-background-color: linear-gradient(to bottom, rgba(181, 151, 125, 1) 0%, rgba(140, 125, 108, 1) 50%, rgba(122, 103, 79, 1) 51%, rgba(179, 149, 124, 1) 100%);
    
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
	-fx-font-size: 18;
}

.bigbutton {
    -fx-background-color: linear-gradient(to bottom, rgba(200, 168, 140, 1) 0%, rgba(166, 149, 128, 1) 50%, rgba(140, 118, 90, 1) 51%, rgba(200, 168, 140, 1) 100%);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.0), 0, 0, 0, 0);
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 2px;
}

.button:hover,
.bigbutton:hover {
    
     -fx-background-color: linear-gradient(to bottom, rgba(158,131,109,1) 0%, rgba(99,88,76,1) 50%, rgba(92,78,60,1) 51%, rgba(138,114,95,1) 100%);
}

.button,
.bigbutton{
    
     -fx-cursor:hand;
}

.handcursor{
    
     -fx-cursor:hand;
}

.button:pressed,
.bigbutton:pressed {
    -fx-translate-y: 1.5;
}



/* Radius */

.bottomleftcornerround {
    -fx-border-radius: 0 0 0 5;
    -fx-background-radius: 0 0 0 5;
}

.bottomrightcornerround {
    -fx-border-radius: 0 0 5 0;
    -fx-background-radius: 0 0 5 0;
}

.toprightcornerround {
    -fx-border-radius: 0 5 0 0;
    -fx-background-radius: 0 5 0 0;
}

.topleftcornerround {
    -fx-border-radius: 5 0 0 0;
    -fx-background-radius: 5 0 0 0;
}




/* Text */

.headline1 {
    -fx-font-size: 30;
    -fx-font-weight: bold !important;
    
}

.headline2 {
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.tree-cell:odd{
 -fx-background-color: #E3F2AC;    
}

.standardText {
	-fx-font-size: 18;
    -fx-font-weight: normal;
}

.boldStandardText {
	-fx-font-size: 18;
    -fx-font-weight: bold;
}

.smallText {
    -fx-font-size: 14;
    -fx-font-weight: normal;
}

.smallBoldText {
    -fx-font-size: 14;
    -fx-font-weight: bold;
}


.testtext {
    -fx-font-family: "Novecentosans";
}



/* General */

.search {
    -fx-effect: innershadow( gaussian, rgba(0, 0, 0, 0.5), 5, 0, 0, 0);
}

.list-view {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-control-inner-background: #E3F2AC;
}

.invinsible {
    -fx-background-color: rgba(255, 0, 0, 0.0);
}

.tab-header-background {
    -fx-effect: innershadow( gaussian, rgba(0, 0, 0, 0.0), 7.5, 0, 0, 0);
    -fx-background-color: #F2E4DC;
    ;
}
